@use "@/assets/styles/vars.styles.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid vars.$color-secondary;
  border-radius: vars.$rounding;
  box-shadow: 4px 4px 8px 0px rgba(vars.$color-dark, 0.2);
}