@use "@/assets/styles/mixins.styles.scss";

@include mixins.control-messages;

.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
