@use "@/assets/styles/vars.styles.scss";
@use "@/assets/styles/mixins.styles.scss";

@include mixins.control-messages;

.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px 20px;
  border: 1px solid vars.$color-tertiary;
  border-radius: vars.$rounding;
}

.errorMessage {
  color: vars.$color-error;
}

.errorInput {
  border: 1px solid vars.$color-error;
}
