$color-bright: #fff;
$color-dark: #000;
$color-primary: #0a1e32;
$color-secondary: #aeb2b9;
$color-tertiary: #3b81f6;
$color-accent: #f96857;
$color-error: #ff0000;
$color-disabled: #5d6168;

$rounding: 50px;
